<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>聊天界面</title>
<script th:src="@{/js/chat.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/jquery.js}"></script>
<link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/chat.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	<div>
		<div class="layui-row">
			<div id="head">
				<img alt="" src="/image/QQ.png" class="headImage">
				&nbsp;&nbsp;<span>咫尺天涯</span>
			</div>
		</div>
		<hr class="layui-bg-green">
		<div class="layui-row">
			<div id="content">
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
			</div>
		</div>
		<hr class="layui-bg-green">
		<div class="layui-row">
			<div id="footer" style="">
				<textarea class="layui-textarea" id="LAY_demo1"
					style="display: none;"></textarea>
			</div>
		</div>
		<div class="layui-row">
			<div class="operate">
				<button class="layui-btn layui-btn-primary layui-btn-xs">重置</button>
				<button class="layui-btn layui-btn-xs">发送</button>
			</div>
		</div>
	</div>
</body>
<script>
	var host = location.host;
	var websocket = null;
	if ('WebSocket' in window) {
		websocket = new WebSocket("ws://" + host + "/chat");
		//接收到消息
		websocket.onmessage = function(evt) {
			alert(evt);
		};
	} else {
		alert('该浏览器不支持websocket')
	}

	layui.use('layedit', function() {
		var layedit = layui.layedit, $ = layui.jquery;

		//构建一个默认的编辑器
		var index = layedit.build('LAY_demo1', {
			height : 120
		});

		$('.site-demo-layedit').on('click', function() {
			var type = $(this).data('type');
			active[type] ? active[type].call(this) : '';
		});
	});
</script>

</html>