<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>聊天界面</title>
<script th:src="@{/js/chat.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script th:src="@{/js/jquery.js}"></script>
<link th:href="@{/layui/css/layui.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/css/chat.css}" rel="stylesheet" type="text/css" />
</head>
<body>
	<div>
		<div class="layui-row">
			<div id="head">
				<img alt="" src="/image/QQ.png" class="headImage">
				&nbsp;&nbsp;<span>咫尺天涯</span>
			</div>
		</div>
		<hr class="layui-bg-green">
		<div class="layui-row">
			<div id="content">
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
				<p>模拟</p>
			</div>
		</div>
		<hr class="layui-bg-green">
		<div class="layui-row">
			<div id="footer" style="">
				<textarea class="layui-textarea" id="LAY_demo1"
					style="display: none;"></textarea>
			</div>
		</div>
		<div class="layui-row">
			<div class="operate">
				<button class="layui-btn layui-btn-primary layui-btn-xs">重置</button>
				<button class="layui-btn layui-btn-xs">发送</button>
			</div>
		</div>
	</div>
</body>
<script>
	
	
	$(function(){
		 var url = location.search; //获取url中"?"符后的字串
		   if (url.indexOf("?") != -1) {    //判断是否有参数
		      var str = url.substr(1); //从第一个字符开始 因为第0个是?号 获取所有除问号的所有符串
		      strs = str.split("=");   //用等号进行分隔 （因为知道只有一个参数 所以直接用等号进分隔 如果有多个参数 要用&号分隔 再用等号进行分隔）
		      var to_user = strs[1];          //直接弹出第一个参数 （如果有多个参数 还要进行循环的）
		   }
		   var host = location.host;
		   if ('WebSocket' in window) {
				var websocket = new WebSocket("ws://" + host + "/chat?user_to=" + to_user);
				//接收到消息
				websocket.send(to_user);
				websocket.onmessage = function(evt) {
					alert(evt.data);
				};
			} else {
				alert('该浏览器不支持websocket')
			}
	})

	layui.use('layedit', function() {
		var layedit = layui.layedit, $ = layui.jquery;

		//构建一个默认的编辑器
		var index = layedit.build('LAY_demo1', {
			height : 120
		});

		$('.site-demo-layedit').on('click', function() {
			var type = $(this).data('type');
			active[type] ? active[type].call(this) : '';
		});
	});
	
</script>

</html>